<div class="content-wrapper">
  <div class="tutorial-content">
    <div class="text-content">
      <h1>Bienvenido a QCPG</h1>
      <p>
        QCPG es una herramienta de análisis de software cuántico estático,
        diseñada para optimizar y asegurar tus programas cuánticos. Utilizando
        el estándar Code Property Graph (CPG), QCPG integra múltiples aspectos
        del análisis de código en una sola representación unificada, permitiendo
        un análisis más profundo y eficiente.
      </p>
      <h3>Subdivisiones de CPG</h3>
      <ul>
        <li>
          <strong>Abstract syntax tree (AST):</strong> Facilita la
          representación de la estructura gramatical de tu código.
        </li>
        <li>
          <strong>Control-flow graph (CFG):</strong> Visualiza todas las rutas
          posibles que puede tomar la ejecución del programa.
        </li>
        <li>
          <strong>Program dependence graph (PDG):</strong> Muestra las
          dependencias entre los nodos del CFG, destacando cómo los datos y el
          control fluyen a través de tu programa.
        </li>
      </ul>

      <h3>¿Cómo empezar?</h3>
      <p>
        Para comenzar el análisis, selecciona los archivos que desees analizar
        utilizando los botones de abajo y presiona <em>Analizar</em>.
      </p>
      <p>
        (QCPG soporta exclusivamente archivos <code>.qasm</code> y
        <code>.py</code> escritos utilizando la biblioteca Qiskit.)
      </p>
    </div>
  </div>
  <div class="buttons-content">
    <app-select-buttons></app-select-buttons>
  </div>
</div>
