.content-wrapper {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100%;
  padding: 20px 15%;
}

.tutorial-content {
  display: flex;
  flex-direction: row;
  padding: 30px;
  border-bottom: 1.5px solid white;
  height: 50vh;
  margin-bottom: 20px;
}

.text-content {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
  text-align: justify;
  padding-right: 30px;
  padding-left: 30px;
  color: white;
  background-color: rgba(22, 22, 29, 0.5);
  border-radius: 10px;
  font-size: large;
}
