<div class="content-wrapper">
  <div class="tutorial-content">
    <div class="text-content">
      At vero eos et accusamus et iusto odio dignissimos ducimus qui blanditiis
      praesentium voluptatum deleniti atque corrupti quos dolores et quas
      molestias excepturi sint occaecati cupiditate non provident, similique
      sunt in culpa qui officia deserunt mollitia animi, id est laborum et
      dolorum fuga. Et harum quidem rerum facilis est et expedita distinctio.
      Nam libero tempore, cum soluta nobis est eligendi optio cumque nihil
      impedit quo minus id quod maxime placeat facere possimus, omnis voluptas
      assumenda est, omnis
    </div>
    <div class="video-content">
      <youtube-player
        class="video"
        videoId="LXb3EKWsInQ"
        suggestedQuality="highres"
      >
      </youtube-player>
    </div>
  </div>
  <div class="buttons-content">
    <app-select-buttons></app-select-buttons>
  </div>
</div>
