.header {
  display: flex;
  justify-content: space-between;
  width: 100%;
  height: 60px;
  padding-right: 5px;
  overflow: hidden;
  background-color: darkslateblue;
  border-bottom: 1px solid rgba(0, 0, 0, 0.195);
  align-items: center;
}

.logo-img {
  height: 75px;
  cursor: pointer;
}

.btn-user {
  background-color: #007bff;
  color: white;
  border: none;
  padding: 0.375rem 0.75rem;
  border-radius: 0.25rem;
  font-size: 1rem;
  line-height: 1.5;
  font-weight: 400;
  text-align: center;
  vertical-align: middle;
  user-select: none;
  transition: background-color 0.2s ease-in-out, box-shadow 0.2s ease-in-out,
    color 0.2s ease-in-out;
  cursor: pointer;
  box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.1);
  display: inline-block;
}

.btn-user:hover {
  background-color: #0056b3;
  color: #fff;
  box-shadow: 0 0 8px 0 rgba(0, 0, 0, 0.2);
  text-decoration: none;
}

.btn-user:active {
  background-color: #004085;
  box-shadow: 0 1px 3px 0 rgba(0, 0, 0, 0.1);
}

.btn-user:focus {
  outline: none;
  box-shadow: 0 0 0 0.2rem rgba(38, 143, 255, 0.5);
}
