<div class="wrapper">
  <div
    class="sidenav-toggle"
    [style.right]="isSidenavOpen ? '15%' : '0'"
    (click)="toggleSidenav()"
  >
    <button mat-icon-button class="toggle-button">
      <mat-icon>{{
        isSidenavOpen ? "chevron_right" : "chevron_left"
      }}</mat-icon>
    </button>
  </div>
  <mat-sidenav-container
    class="example-container"
    style="width: 100%; height: 100%"
  >
    <mat-sidenav #sidenav mode="side" opened="false" position="end">
      <div *ngFor="let file of files" class="file-entry">
        <div class="control">
          <h4 (click)="toggleFile(file)">{{ file.name }}</h4>
          <mat-icon (click)="toggleExpand(file)" class="expand-icon">
            {{ file.isExpanded ? "expand_less" : "expand_more" }}
          </mat-icon>
        </div>
        <div>
          <pre *ngIf="file.open" class="file-content">{{ file.content }}</pre>
          <div *ngIf="file.isExpanded" class="expanded-content"></div>
        </div>
      </div>
    </mat-sidenav>
    <mat-sidenav-content>
      <div class="analysis-container">
        <div class="metrics-container">
          <p>
            <strong><em>State Preparation</em></strong> es un patrón que implica
            que al principio de un circuito cuántico, todos los cúbits están en
            el mismo estado. En general los circuitos empiezan en el estado |0⟩
          </p>
          <p>
            Para identificar este patrón se detecta que al principio del
            circuito todos los qubits tienen una puerta X, siendo el estado
            final |1⟩ para todos.
          </p>
        </div>
        <div class="graph-container">
          <app-graph-visualization></app-graph-visualization>
          <img
            src="../../../assets/images/State-Preparation.png"
            alt="Visualización de State Preparation"
          />
        </div>
      </div>
    </mat-sidenav-content>
  </mat-sidenav-container>
</div>
