.dsc-footer {
  height: 20px;
  text-align: center;
  color: rgb(166, 173, 194);
  background-color: rgb(42, 47, 64);
  font-size: 12px;
  justify-content: center;
  display: flex;
  font-weight: 400;
}
