<div class="analysis-container">
  <div class="metrics-container">
    <app-metric-card title="Bugs" value="0"></app-metric-card>
    <app-metric-card title="Vulnerabilities" value="0"></app-metric-card>
    <app-metric-card title="Code Smells" value="0"></app-metric-card>
    <app-metric-card title="Security Hotspots" value="0"></app-metric-card>
  </div>
  <div>
    <div class="graph-container">"(Gráfico)"</div>
    <div class="text-information">
      <p>Número de cubits: 123213123</p>
      <p>Número de archivos: 124</p>
    </div>
    <button class="save-analysis-button">GUARDAR ANÁLISIS</button>
  </div>
</div>
