<div class="wrapper">
  <mat-sidenav-container
    class="example-container"
    style="width: 100%; height: 100%"
  >
    <mat-sidenav #sidenav mode="side" opened="false" position="end">
      <div *ngFor="let file of files" class="file-entry">
        <h4 (click)="toggleFile(file)">{{ file.name }}</h4>
        <pre *ngIf="file.open" class="file-content">{{ file.content }}</pre>
      </div>
    </mat-sidenav>
    <mat-sidenav-content>
      <div class="analysis-container">
        <div class="metrics-container">
          <app-metric-card
            title="Número de cúbits"
            [value]="numQubits"
            route="/mappingBits"
            [showArrowButton]="false"
          ></app-metric-card>
          <app-metric-card
            title="Número de bits clásicos"
            [value]="numClassicBits"
            route="/mappingBits"
            [showArrowButton]="true"
          ></app-metric-card>
          <app-metric-card
            title="Número de puertas"
            [value]="numGates"
            route="/mappingGates"
            [showArrowButton]="true"
          ></app-metric-card>
          <app-metric-card
            title="Número de medidas"
            [value]="numMeasures"
            route="/mappingMeasures"
            [showArrowButton]="true"
          ></app-metric-card>
        </div>

        <div class="graph-container">
          <app-graph-visualization></app-graph-visualization>
          <app-graph-controls></app-graph-controls>
        </div>
      </div>
    </mat-sidenav-content>
  </mat-sidenav-container>
</div>

<button type="button" (click)="sidenav.toggle()" class="toggle-button">
  O
</button>
