.analysis-container {
  display: flex;
  height: 100%;
}

.metrics-container {
  flex: 1;
  padding: 20px;
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.graph-container {
  flex: 2;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 20px;
}
