.button-wrapper {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: flex-start;
  position: relative;
  top: 70px;
}

.select-area {
  flex-grow: 1;
  margin-right: 20px;
}

.analyze-area {
  flex-grow: 1;
  display: flex;
  justify-content: flex-end;
}

.button-container-select {
  cursor: pointer;
  height: 60px;
  font-size: 16px;
  font-weight: 500;
  color: #fff;
  background-color: #6f42c1;
  border: none;
  border-radius: 5px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
  transition: all 0.3s ease;
  text-align: center;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-bottom: 10px;
  padding: 10px 20px;
}

ul {
  padding: 0;
  list-style-type: none;
  margin: 0;
}

li {
  display: flex;
  align-items: center;
  margin-bottom: 5px;
}

.button-continue {
  font-size: 18px;
  font-weight: 600;
  color: #495057;
  background-color: #fff;
  border: 2px solid #6f42c1;
  border-radius: 0.3rem;
  cursor: pointer;
  transition: all 0.2s ease-in-out;
  padding: 10px 20px;
}

.button-container-select:hover {
  background-color: #0056b3;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.3);
}

.button-container-select:active {
  box-shadow: 0 1px 2px rgba(0, 0, 0, 0.2);
}

.button-container-select:focus {
  outline: none;
}

.button-container-continue {
  display: flex;
}

.button-continue {
  display: inline-block;
  font-size: 18px;
  font-weight: 600;
  color: #4caf50;
  background-color: #f8f9fa;
  border: 2px solid #4caf50;
  border-radius: 0.3rem;
  cursor: pointer;
  transition: all 0.2s ease-in-out;
}

.button-continue:hover {
  background-color: #4caf50;
  color: white;
}

.button-continue:active {
  background-color: #3e8e41;
  border-color: #3e8e41;
}

.button-continue:focus {
  outline: none;
}

.buttons-error-container {
  position: relative;
  padding: 20px;
  text-align: center;
}

.error-message {
  color: #ff0000;
  position: absolute;
  top: -30px;
  left: 50%;
  transform: translateX(-50%);
  z-index: 10;
  width: auto;
  padding-top: 50px;
}

.file-remove-button {
  cursor: pointer;
  background-color: #6f42c1;
  color: #fff;
  border: none;
  border-radius: 50%;
  width: 25px;
  height: 25px;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-left: 10px;
  font-size: 14px;
  font-weight: bold;
  transition: background-color 0.3s ease;
  box-shadow: 0 1px 3px rgba(0, 0, 0, 0.2);
}

.file-remove-button:hover {
  background-color: #0056b3;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.3);
}

.file-remove-button:active {
  box-shadow: 0 1px 2px rgba(0, 0, 0, 0.2);
}

.file-remove-button:focus {
  outline: none;
}
